%h1 Welcome to Orbital Express

%div.large-4.columns
  = form_tag search_path, :method => "get" do
    = select_tag :launching_from_id, options_from_collection_for_select(@launching_locations, :id, :name)
    = select_tag :docking_at_id, options_from_collection_for_select(@docking_locations, :id, :name)
    %p Date:
    %input{:type => "text", :id => "datepicker", :name => "date"}

    = button_tag "Search", :type => "submit", :name => nil

%table
  %h1 All Current Flights
  %tr
    %th Flight Number
    %th Launch Port
    %th Spaceport
    %th Docking Port
    %th Day of Launch

    - @flights.each do |flight|
      %tr
        %td= flight.name
        %td= flight.launch_location.name
        %td= flight.launch_location.spaceport
        %td= flight.docking_location.name
        %td= flight.launch_day.name
