%h1 Welcome to Orbital Express

%div.large-4.columns

%table
  %tr
    %th Flight Number
    %th Launch Port
    %th Spaceport
    %th Docking Port
    %th Weekday
    %th Quarters

    - @results.each do |flight|
      %tr
        %td= flight.name
        %td= flight.launch_location.name
        %td= flight.launch_location.spaceport
        %td= flight.docking_location.name
        %td= flight.launch_day.name
        %td= link_to "Select Your Quarters", quarters_path, :remote => true, :data => {"reveal-id" => "modal_window"}, :id => "quarters_select"
        %td= button_to "Reserve", new_reservation_path(flight.id)